:host {
  position: relative;
  display: block;

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-cell {
    overflow: visible;
  }

  mat-header-cell {
    overflow: visible;
  }

  .add-post-fab {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }

  .toolbar-field {
    margin-bottom: -16px;
    position: relative;
    top: -6px;
  }

  .selected-tools-wrapper {
    //margin-bottom: -3px;
  }
}
