:host {
  position: relative;
  display: block;

  .content-section {
    padding: 15px;
  }

  .aside-field {
    margin-top: 21px;
  }

  input[type='file'] {
    background: #eaeaea;
    padding: 10px;
  }

  .featured-img {
    width: 100%;
    margin-top: 20px;
    border: 2px solid #eaeaea;
  }
}
